{% extends "main.html" %}


{% block head %}
    {{ super() }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>编辑</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/d3.css') }}">
{% endblock head %}


{% block maintitle %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-8">
            <div class="title-action" style="float:left">
                <div id="mode-select" class="btn-group">
                  <button class="btn btn-primary active" onclick="setAppMode(MODE.EDIT)">
                    <i class="fa fa-pencil"></i> 编辑模式
                  </button>
                  <button class="btn btn-warning" onclick="setAppMode(MODE.EVAL)">
                    <i class="fa fa-eye"></i> 预览模式
                  </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="title-action">
                  <button class="btn btn-inverse" onclick="">submmitGraph</button>
            </div>
        </div>

    </div>
{% endblock maintitle %}


<!-- 内容区 start -->
{% block content %}
    <section id="app">
        <div id="app-body">
          <div class="panel tab-content">
            <div id="edit-pane" class="tab-pane active">
              <div class="alert alert-info">
                <div class="selected-node-id">未选中任何东西</div>
                <table class="propvars inactive">
                  <tbody>
                    <!-- 变量列表填充区 start -->
                    <!-- 变量列表 end -->
                  </tbody>
                </table>
                <div id="model-submmit" class="inactive">
                  <button class="btn btn-outline btn-primary" onclick="updateNodeOrLink()">提交</button>
                </div>
              </div>
              <div class="instructions">
                <h3>Tips</h3>
                <ul class="unstyled">
                  <li><strong>选中人物或关系</strong>：点击人物或关系</li>
                  <li><strong>移动人物</strong>：按住Ctrl再拖拽人物</li>
                  <br>
                  <li><strong>添加一个人物</strong>：点击空白处</li>
                  <li><strong>添加一条关系</strong>：拖拽人物到另一个人物上</li>
                  <li>
                    <strong>删除人物或关系</strong>: 选中人物或关系以后
                    <ul>
                      <br>
                      <li>Delete键</li>
                      <li>BackSpace键</li>
                    </ul>
                  </li>
                </ul>

                <form action="/editor/upload/avatar" method=post enctype=multipart/form-data>
                    <input type=file name=file><br/>
                    <input type=submit value=Upload>
                </form>
              </div>
            </div>

            <div id="eval-pane" class="tab-pane">
              <div class="eval-input">
                  <div class="widget style1 lazur-bg" style="background-image: linear-gradient(45deg,#00b6ee,#0080e2);">
                    <div class="row">
                        <div class="col-xs-4 text-center">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> 总人数 </span>
                            <h2 id="peopleCount" class="font-bold">4,232</h2>
                        </div>
                    </div>
                  </div>

                  <div class="widget style1 red-bg" style="background-image: linear-gradient(-45deg,#a83279,#d38312); opacity: .7;">
                    <div class="row">
                        <div class="col-xs-8 text-center">
                            <a class="check-link" style="color:white; font-size: 18px;" href="javascript:void(0)" onclick="setShowCommunities()"><i class="fa fa-square-o fa-1x"></i>
                                <span class="m-l-xs" style="color:white;">区分社区颜色</span>
                            </a>
                        </div>
                    </div>
                  </div>


              </div>
            </div>

          </div>
          <div class="graph"></div>
        </div>
      </section>
{% endblock content %}
<!-- 内容区 end -->



{% block script %}
    {{ super() }}

    <script src="{{ url_for('static',filename='lib/d3.v3.min.js') }}"></script>
    <script src="{{ url_for('static',filename='lib/formula-parser.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/MPL.js') }}"></script>
    <script src="{{ url_for('static',filename='js/app.js') }}"></script>
{% endblock script %}