{% extends "main.html" %}


{% block head %}
    {{ super() }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>编辑</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
{#    <link rel="stylesheet" href="{{ url_for('static',filename='lib/bootstrap.min.css') }}">#}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/app.css') }}">
{% endblock head %}


{% block maintitle %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-8">
            <div class="title-action" style="float:left">
                <div id="mode-select" class="btn-group">
                  <button class="btn btn-primary active" onclick="setAppMode(MODE.EDIT)">
                    <i class="fa fa-pencil"></i> 编辑模式
                  </button>
                  <button class="btn btn-primary" onclick="setAppMode(MODE.EVAL)">
                    <i class="fa fa-eye"></i> 预览模式
                  </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="title-action">
                  <button class="btn btn-inverse" onclick="submmitGraph()">submmitGraph</button>
            </div>
        </div>

    </div>
{% endblock maintitle %}


<!-- 内容区 start -->
{% block content %}
    <section id="app">
        <div id="app-body">
          <div class="panel tab-content">
            <div id="edit-pane" class="tab-pane active">
              <div class="alert alert-info">
                <div class="selected-node-id">未选中任何东西</div>
                <table class="propvars inactive">
                  <tbody>
                    <tr class=""><td class="var-name">p:</td><td class="var-value"><div class="btn-group">
                      <input type="text" placeholder="e.g., (p -> []p)">
                    </div></td></tr>
                    <tr class="inactive"><td class="var-name">r:</td><td class="var-value"><div class="btn-group">
                      <button class="btn btn-small btn-success" onclick="setVarForSelectedNode(2,true)">True</button>
                      <button class="btn btn-small btn-danger" onclick="setVarForSelectedNode(2,false)">False</button>
                    </div></td></tr>
                  </tbody>
                </table>
                <div id="model-submmit" class="inactive">
                  <button class="btn btn-success" onclick="updateNodeOrLink()">提交</button>
                </div>
              </div>
              <div class="instructions">
                <h3>Tips</h3>
                <ul class="unstyled">
                  <li><strong>添加一个人物</strong>：点击空白处</li>
                  <li><strong>添加一条关系</strong>：拖拽人物到另一个人物上</li>
                  <li><strong>移动人物</strong>：按住Ctrl再拖拽人物</li>
                  <li><strong>选中人物或关系</strong>：点击人物或关系</li>
                  <li>
                    选中人物或关系以后:
                    <ul>
                      <li><strong>Delete键</strong>：删除人物或关系</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>

            <div id="eval-pane" class="tab-pane">
              <div class="eval-input">
                Enter a formula:
                <input type="text" placeholder="e.g., (p -> []p)">
                <button class="btn btn-block" onclick="evaluateFormula()">Evaluate</button>
              </div>
            </div>

          </div>
          <div class="graph"></div>
        </div>
      </section>
{% endblock content %}
<!-- 内容区 end -->



{% block script %}
    {{ super() }}

    <script src="{{ url_for('static',filename='lib/d3.v3.min.js') }}"></script>
    <script src="{{ url_for('static',filename='lib/formula-parser.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/MPL.js') }}"></script>
    <script src="{{ url_for('static',filename='js/app.js') }}"></script>
{% endblock script %}