{% extends "main.html" %}
{# 继承main.html页面（父类）#}


{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/plugins/toastr/toastr.min.css') }}">

    {{ super() }}
    {# 继承父类的head样式 #}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>编辑</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    {# 引入字体格式 #}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/d3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/plugins/switchery/switchery.css') }}">
    {# 引入switchery.css控件来操作“区分社区颜色”的按钮  #}
{% endblock head %}


{% block maintitle %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-9">
            <div class="title-action" style="float:left">
                <div id="mode-select" class="btn-group">
                  <button class="btn btn-warning btn-outline active" onclick="setAppMode(MODE.EDIT)">
                    <i class="fa fa-pencil"></i> 编辑模式
                  </button>
                  <button class="btn btn-warning btn-outline" onclick="setAppMode(MODE.PREVIEW)">
                    <i class="fa fa-eye"></i> 预览模式
                  </button>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group title-action">
                <input id="node_property_value" type="text" placeholder="给节点添加一个属性" class="input-sm form-control">
                <span class="input-group-btn">
                    <button id="node_property_button" onclick="addPropertyForNodes()" type="button" class="btn btn-sm btn-primary btn-lg" data-loading-text="<i class='fa fa-spinner fa-spin '></i> 提交中">
                        <i class="fa fa-plus"></i> 添加
                    </button>
                </span>
            </div>
        </div>

    </div>
{% endblock maintitle %}


<!-- 内容区 start -->
{% block content %}
    <section id="app">
        <div id="app-body">
          <div class="panel tab-content">
            <div id="edit-pane" class="tab-pane active">
              <div class="alert alert-info">
                <div class="selected-node-id">未选中任何东西</div>
                 {# 通过js（editor-d3.js）来填充变量列表 #}
                <table class="propvars inactive">
                  <tbody>
                    <!-- 变量列表填充区 start -->
                    <!-- 变量列表 end -->
                  </tbody>
                </table>
                <div id="model-submmit" class="inactive">
                  <button class="btn btn-outline btn-primary" onclick="updateNodeOrLink()">提交</button>
                </div>
              </div>
              <div class="instructions">
                <h3>Tips</h3>
                <ul class="unstyled">
                  <li><strong>选中人物或关系</strong>：点击人物或关系</li>
                  <li><strong>移动人物</strong>：按住Ctrl再拖拽人物</li>
                  <br>
                  <li><strong>添加一个人物</strong>：点击空白处</li>
                  <li><strong>添加一条关系</strong>：拖拽人物到另一个人物上</li>
                  <li>
                    <strong>删除人物或关系</strong>: 选中人物或关系以后
                    <ul>
                      <br>
                      <li>Delete键</li>
                      <li>BackSpace键</li>
                    </ul>
                  </li>
                </ul>


                <!-- 上传头像 -->
                <div id="avatar-content" style="display:none;">
                    <form id="myform"  method=post enctype=multipart/form-data>
                        <input id="lefile" type="file" name="file" style="display:none;" onchange="onfileChange()">
                        {# display:none不显示input这个控件，输入的内容在avatar_value进行显示 #}
                        <div class="input-append">
                            <input id="avatar_value" type="text" class="form-control" style="height:34px; width: 54%; display: inline-block;" onclick="$('input[id=lefile]')[0].click();">
                            <div class="btn btn-primary btn-file" onclick="doUpload()">
                                <i class="fa fa-upload"></i> 上传
                            </div>
                        </div>
                    </form>
                </div>

                <script type="text/javascript">
                    function onfileChange(){
                        $('#avatar_value').val($('input[id=lefile]').val());
                    }

                    function doUpload(){
                        //使用FormData（表单数数据）来上传文件
                        var formData = new FormData($("#myform")[0]);//通过jquery的FormData类获取数据：头像和它的地址
                         $.ajax({
                              url: "/{{ projectId }}/editor/upload/avatar",
                              // 指明上传头像的路由（在editor-upkoadfiles.py里面相对应）
                              type: 'POST',
                              data: formData,
                              async: false,
                              cache: false,
                              contentType: false,
                              processData: false,
                              success: function (avatar_url) {     //avatar_url是上面路由的返回值
                                  alert("上传成功，头像地址为：" + avatar_url + "，请点击[提交]保存人物信息");
                                  $('#avatar_value').val(avatar_url);
                              },
                              error: function (avatar_url) {
                                  alert("上传出错：" +avatar_url);
                              }
                         });
                    }
                </script>

              </div>
            </div>


            <!-- 预览模式 -->
            <div id="eval-pane" class="tab-pane">
              <div class="eval-input">
                  <div class="widget style1 lazur-bg" style="background-image: linear-gradient(45deg,#00b6ee,#0080e2);">
                    <div class="row">
                        <div class="col-xs-4 text-center">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> 总人数 </span>
                            <h2 id="peopleCount" class="font-bold">4,232</h2>
                            {# peopleCount由editor_d3.js里的setTotalPeople进行计算的 #}
                        </div>
                    </div>
                  </div>

                  <div class="widget style1 red-bg" style="background-image: linear-gradient(45deg,#ffba6a,#ff7575);">
                    <div class="row">
                        <div class="col-xs-4 text-center">
                            <i class="fa fa-building-o  fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> 社区划分 </span>
                            <h2 class="font-bold">{{ communities|length }}</h2>
                        </div>
                    </div>
                  </div>

                  <div class="widget style1 red-bg" style="background-image: linear-gradient(45deg,#62da5b,#46c36a);">
                    <div class="row">
                        <div class="col-xs-12">
                                <span class="m-l-xs" style="float:left; line-height: 32px;"><small class="text-white" style="font-size:18px">区分社区颜色</small></span>
                                <div style="float:right;">
                                    <input type="checkbox" class="js-switch" />
                                    {# 引入第三方开关组件switchery #}
                                </div>
                        </div>
                    </div>
                  </div>


                  <div class="ibox float-e-margins">
                    {# 社区信息标题框 #}
                    <div class="ibox-title">
                        <h5>社区信息</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                                {# font awesome第三方来画图标 #}
                            </a>
                        </div>
                    </div>
                    {# 社区信息内容框 #}
                    <div class="ibox-content">
                        <ul id="communitiesWrap" class="category-list" style="padding: 0">
                        </ul>
                    </div>
                  </div>


                    <!-- 删除图谱对话框 -->
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>敏感操作</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-down"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" style="display: none;">
                        <div class="alert alert-danger alert-dismissable">
                          删除图谱将无法恢复.
                        </div>
                        <button class="btn btn-danger dim" style="width: 100%;" type="button" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash"></i> 删除整个图谱</button>
                    </div>
                  </div>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h2 class="modal-title" id="myModalLabel"><i class="fa fa-warning fa-1x"></i> 警告</h2>
                          </div>
                          <div class="modal-body">
                              <div class="alert alert-danger alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                删除图谱将无法恢复.
                              </div>
                              <strong>你确定删除整个图谱吗?</strong>
                          </div>
                          <div class="modal-footer">
                              <button onclick="deleteGraph()" type="button" class="btn btn-default" data-dismiss="modal">删除</button>
                              {# deleteGraph（editor-d3.js）函数来删除数据 #}
                              <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                          </div>
                        </div>
                      </div>
                    </div>

              </div>
            </div>

          </div>
          <div class="graph"></div>
        </div>
      </section>
{% endblock content %}
<!-- 内容区 end -->



{% block script %}
    <script type="text/javascript">
        var projectId = '{{ projectId }}';
    </script>

    {{ super() }}
    <script src="{{ url_for('static',filename='lib/d3.v3.min.js') }}"></script>
    <script src="{{ url_for('static',filename='lib/formula-parser.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap/js/plugins/toastr/toastr.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap/js/plugins/switchery/switchery.js') }}"></script>
    <script src="{{ url_for('static',filename='js/MPL.js') }}"></script>
    <script src="{{ url_for('static',filename='js/editor-d3.js') }}"></script>
    <script type="text/javascript">
        //显示社区信息的js
        var str = "";
        {% for commu in communities -%}
            {% if(commu.index) %}
                 str += '<li><a> <i class="fa fa-circle text-navy" style="color:' + colors({{ commu.index }}) + '"></i> 社区{{ commu.index }} : {{ commu.peoples_count }}人</a></li>';
            {% else %}
                str += '<li><a> <i class="fa fa-circle text-navy" style="color:' + colors(undefined) + '"></i> 无社区 : {{ commu.peoples_count }}人</a></li>';
            {# 独立存在的节点：无社区 #}
            {% endif %}
        {%- endfor %}
        $("#communitiesWrap").html(str);

        //区分社区颜色的js
        var checkButton = document.querySelector('.js-switch');
        var switchery = new Switchery(checkButton, { color: '#f8ac59' });
        checkButton.onchange = function() {
            setShowCommunities(checkButton.checked);
            //将Switchery的checkButton.checked操作得出一个值：true（打开按钮）或者false（关闭按钮）
        };
    </script>
{% endblock script %}