a.card{
    text-decoration: none;
    color:black;
    font-size: 12px;
}
div{
    margin-left:0px;
    margin-right:0px;
    padding-top: 20px;
    padding-left: 200px;
    overflow: hidden;
}
ul{
   line-height: 40px;
    text-align:right;
}
li{
    text-align: left;
}
span
{

    float: right;
    color: #666;
    margin: 0 10em;

}
body{
    margin: 0px;
}
 .logo {
    float: left;
    width: 55px;
    height: 60px;
    margin-top: -3px;
}
 td{
     width: 80px;
     text-align: center;
 }
 .article_patent{
     width:1200px;
     margin: auto;
 }
 .item_name{
     width: 110px;
 }
 .container_table{
     padding: 50px;
 }
 .table_one{
     margin: auto;
 }
 .table_two{
     margin: auto;
 }