/* 人物图片图 */
.nodetext {
    font-size: 15px ;
    font-family: Helvetica, "楷体", "Microsoft Yahei", Arial, sans-serif;
    fill:#333333;
}

.linetext {
    font-size: 10px ;
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
    fill:#22cc00;
    fill-opacity:0.0;
}

.circleImg {
  stroke-width: 3px;
}



/* 点点图 */
.links line {
  stroke: #ccc;
  stroke-opacity: 1.0;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 2px;
}

.edgetext {
    font-size: 1px ;
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
    fill: #999;
    opacity: 0.6;
}

.name {
    font-size: 5px ;
    font-family: Helvetica, "楷体", "Microsoft Yahei", Arial, sans-serif;
    fill:#333333;
}