<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/recruitepartstyle.css') }}">
    <title>Title</title>
</head>
<body>
<div class="container_table">
    <p><strong>国家级科研项目</strong></p>
    <table border="1" width="1200" class="table_one">
        <tr>
            <td>序号</td>
            <td>项目来源</td>
            <td>项目类别</td>
            <td>项目编号</td>
            <td class="item_name">项目名称</td>
            <td>项目负责人</td>
            <td>项目开始年月</td>
            <td>项目结束年月</td>
            <td>项目合同总经费（万元）</td>
            <td>本单位本学科到账经费（万元）</td>
        </tr>
        <tr>
            <td>1</td>
            <td>国家自然科学基金项目</td>
            <td>青年基金</td>
            <td>61401408</td>
            <td class="item_name">图像取证鲁棒性和安全性研究</td>
            <td>曹刚</td>
            <td>201501</td>
            <td>201712</td>
            <td>27</td>
            <td>27</td>
        </tr>
        <tr>
            <td>2</td>
            <td>国家自然科学基金项目</td>
            <td>青年基金</td>
            <td>61305100</td>
            <td class="item_name">基于计算智能与粒计算的多源数据泛化系统建模分析与研究</td>
            <td>宋明丽</td>
            <td>201310</td>
            <td>201612</td>
            <td>23</td>
            <td>23</td>
        </tr>
        <tr>
            <td>3</td>
            <td>国家自然科学基金项目</td>
            <td>青年基金</td>
            <td>61103199</td>
            <td class="item_name">基于LFSR序列的公钥密码算法及RSA模数安全分析</td>
            <td>姜正涛</td>
            <td>201109</td>
            <td>201412</td>
            <td>21</td>
            <td>21</td>
        </tr>
    </table>
    <p><strong>军队国防、省部级及重要横向科研项目</strong></p>
    <table border="1" width="1200" class="table_two">
        <tr>
            <td>序号</td>
            <td>项目来源</td>
            <td>项目下达部门</td>
            <td>项目类别</td>
            <td>项目编号</td>
            <td class="item_name">项目名称</td>
            <td>项目负责人</td>
            <td>项目开始年月</td>
            <td>项目结束年月</td>
            <td>项目合同总经费（万元）</td>
            <td>本单位本学科到账经费（万元）</td>
        </tr>
        <tr>
            <td>1</td>
            <td>朝阳区来广营地区办事处</td>
            <td>朝阳区科委</td>
            <td>司局级</td>
            <td>BC1401</td>
            <td class="item_name">《养生厨房》老年健康美食应用游戏</td>
            <td>石民勇</td>
            <td>2014.01</td>
            <td>2014.12</td>
            <td>15</td>
             <td>15</td>
        </tr>
        <tr>
            <td>2</td>
            <td>国家自然科学（合作）</td>
            <td>国家自然基金科学委员会</td>
            <td>面上项目</td>
            <td>HG1330</td>
            <td class="item_name">连续数据存储系统节能关键技术研究</td>
            <td>朱立谷</td>
            <td>201401</td>
            <td>201712</td>
            <td>10</td>
            <td>10</td>
        </tr>
        <tr>
            <td>3</td>
            <td>北京语委首都师范大学科研基地</td>
            <td>北京市语言文字工作委员会</td>
            <td>司局级</td>
            <td>YW2015-YYZN004</td>
            <td class="item_name">英语谐音记忆可视化研发</td>
            <td>朱立谷</td>
            <td>2015.01</td>
            <td>2015.12</td>
            <td>49.28</td>
            <td>49.28</td>
        </tr>
        <tr>
            <td>4</td>
            <td>河北普华科技有限公司</td>
            <td>河北普华科技有限公司</td>
            <td>横向科研项目</td>
            <td>HG1303</td>
            <td class="item_name">数据容灾中心技术方案研究</td>
            <td>朱立谷</td>
            <td>2012.11</td>
            <td>2013.12</td>
            <td>10</td>
            <td>10</td>
        </tr>
        <tr>
            <td>5</td>
            <td>北京尊冠科技有限公司</td>
            <td>北京尊冠科技有限公司</td>
            <td>横向科研项目</td>
            <td>HG1142</td>
            <td class="item_name">网络存储测评技术方案研究</td>
            <td>朱立谷</td>
            <td>2011.11</td>
            <td>2012.06</td>
            <td>6.5</td>
            <td>6.5</td>
        </tr>
        <tr>
            <td>6</td>
            <td>江苏省网络监控工程中心</td>
            <td>江苏省网络监控工程中心</td>
            <td>横向科研项目</td>
            <td>HG1546</td>
            <td class="item_name">基于社会计算的下一代Web的理论和应用研究</td>
            <td>周菁</td>
            <td>2015.07</td>
            <td>2017.07</td>
            <td>10</td>
            <td>10</td>
        </tr>
        <tr>
            <td>7</td>
            <td>全国中文新闻信息标准化技术委员会秘书处</td>
            <td>全国中文新闻信息标准化技术委员会秘书处</td>
            <td>横向科研项目</td>
            <td>HG1304</td>
            <td class="item_name">图片内容描述元数据规范</td>
            <td>张弛</td>
            <td>2012.12</td>
            <td>2013.03</td>
            <td>4</td>
            <td>4</td>
        </tr>
        <tr>
            <td>8</td>
            <td>北京织女星网格技术有限公司</td>
            <td>北京织女星网格技术有限公司</td>
            <td>横向科研项目</td>
            <td>HG1528</td>
            <td class="item_name">东方有线呼叫中心云计算虚拟化解决方案</td>
            <td>林卫国</td>
            <td>2015.06</td>
            <td>2016.06</td>
            <td>5</td>
            <td>5</td>
        </tr>
        <tr>
            <td>9</td>
            <td>方正国际软件有限公司</td>
            <td>方正国际软件有限公司</td>
            <td>横向科研项目</td>
            <td>HG1212</td>
            <td class="item_name">媒体管理系统</td>
            <td>曹轶臻</td>
            <td>2012.02</td>
            <td>2016.04</td>
            <td>97.02</td>
            <td>97.02</td>
        </tr>
        <tr>
            <td>10</td>
            <td>北京大学</td>
            <td>北京大学</td>
            <td>横向科研项目</td>
            <td>HG1204</td>
            <td class="item_name">视频通信系统网络通信测试</td>
            <td>孙书韬</td>
            <td>2012.02</td>
            <td>2012.04</td>
            <td>3</td>
            <td>3</td>
        </tr>
        <tr>
            <td>11</td>
            <td>海城市睿思博远安防科技有限公司</td>
            <td>海城市睿思博远安防科技有限公司</td>
            <td>横向科研项目</td>
            <td>HG1114</td>
            <td class="item_name">基于物联网的电子保安业务系统研发</td>
            <td>范文庆</td>
            <td>2011.05</td>
            <td>2012.04</td>
            <td>125</td>
            <td>125</td>
        </tr>
        <tr>
            <td>12</td>
            <td>北京电视台文艺节目中心</td>
            <td>北京电视台文艺节目中心</td>
            <td>横向科研项目</td>
            <td>HG1110</td>
            <td class="item_name">BTV春晚观众行为统计与喜好分析</td>
            <td>范文庆</td>
            <td>2011.03</td>
            <td>2013.03</td>
            <td>0.6</td>
            <td>0.6</td>
        </tr>
        <tr>
            <td>13</td>
            <td>企业</td>
            <td>企业</td>
            <td>横向科研项目</td>
            <td>HG1547</td>
            <td class="item_name">基于大数据分析的安全管理平台</td>
            <td>李樱</td>
            <td>2015.12</td>
            <td>2016.12</td>
            <td>10</td>
            <td>10</td>
        </tr>
        <tr>
            <td>14</td>
            <td>北京新通云科技有限公司</td>
            <td>北京新通云科技有限公司</td>
            <td>横向科研项目</td>
            <td>HG1524</td>
            <td class="item_name">有限元云计算系统研发及安全加固</td>
            <td>黄玮</td>
            <td>2015.06</td>
            <td>2018.06</td>
            <td>100</td>
            <td>100</td>
        </tr>
        <tr>
            <td>15</td>
            <td>北京灵创众和科技有限公司</td>
            <td>北京灵创众和科技有限公司</td>
            <td>横向科研项目</td>
            <td>HG1328</td>
            <td class="item_name">黄页数据采集及搜索系统</td>
            <td>黄玮</td>
            <td>2012.11</td>
            <td>2015.10</td>
            <td>35</td>
            <td>35</td>
        </tr>
        <tr>
            <td>16</td>
            <td>北京玖亦信德软件科技有限公司</td>
            <td>北京玖亦信德软件科技有限公司</td>
            <td>横向科研项目</td>
            <td>HG1218</td>
            <td class="item_name">二进制程序防逆向分析软件研制</td>
            <td>黄玮</td>
            <td>2012.07</td>
            <td>2013.06</td>
            <td>25</td>
            <td>25</td>
        </tr>
        <tr>
            <td>17</td>
            <td>上海无线电设备研究所</td>
            <td>上海无线电设备研究所</td>
            <td>横向科研项目</td>
            <td>HG1506</td>
            <td class="item_name">新华社新媒体标准体系编制、监测服务平台及CNAS体系建设</td>
            <td>龚隽鹏</td>
            <td>2014.01</td>
            <td>2015.06</td>
            <td>22</td>
            <td>22</td>
        </tr>
        <tr>
            <td>18</td>
            <td>全国中文新闻信息标准化技术委员会</td>
            <td>全国中文新闻信息标准化技术委员会</td>
            <td>横向科研项目</td>
            <td>HG1531</td>
            <td class="item_name">中文新闻图片内容描述元数据规范</td>
            <td>温宇俊</td>
            <td>2015.09</td>
            <td>2016.07</td>
            <td>5</td>
            <td>5</td>
        </tr>
        <tr>
            <td>19</td>
            <td>国家科技支撑计划子课题</td>
            <td>科技部</td>
            <td>横向科研项目</td>
            <td>2015BAK05B03-01</td>
            <td class="item_name">分布式3D渲染系统</td>
            <td>冯爽</td>
            <td>2015.04</td>
            <td>2017.12</td>
            <td>71</td>
            <td>71</td>
        </tr>
        <tr>
            <td>20</td>
            <td>国家科技支撑计划项目</td>
            <td>科技部</td>
            <td>横向科研项目</td>
            <td>2012BAH02F02-01</td>
            <td class="item_name">国家科技支撑计划项目</td>
            <td>孙书韬</td>
            <td>2012.09</td>
            <td>2014.12</td>
            <td>27.5</td>
            <td>27.5</td>
        </tr>
        <tr>
            <td>21</td>
            <td>方正国际软件有限公司</td>
            <td>方正国际软件有限公司</td>
            <td>横向科研项目</td>
            <td>HG1212</td>
            <td class="item_name">媒体管理系统</td>
            <td>曹轶臻</td>
            <td>2012.02</td>
            <td>2016.04</td>
            <td>97.02</td>
            <td>97.02</td>
        </tr>
        <tr>
            <td>22</td>
            <td>国家科技支撑计划项目</td>
            <td>国家科技支撑计划项目</td>
            <td>横向科研项目</td>
            <td>2015BAK22B01-01</td>
            <td class="item_name">区域公共文化服务模式研究及网络化平台构建子课题</td>
            <td>曹轶臻</td>
            <td>2015.04</td>
            <td>2017.12</td>
            <td>46.81</td>
            <td>46.81</td>
        </tr>
        <tr>
            <td>23</td>
            <td>北京市</td>
            <td>北京市</td>
            <td>北京市人才项目</td>
            <td>2010D005032000002</td>
            <td class="item_name">面向三网融合的数字版权保护关键技术研究</td>
            <td>隋爱娜</td>
            <td>2010.12</td>
            <td>2012.09</td>
            <td>4</td>
            <td>4</td>
        </tr>
        <tr>
            <td>24</td>
            <td>朝阳区科委</td>
            <td>朝阳区科委</td>
            <td>司局级</td>
            <td>CYXC1504</td>
            <td class="item_name">基于大数据的微视频主题推送及效果评估系统</td>
            <td>尚文倩</td>
            <td>2015.12</td>
            <td>2017.06</td>
            <td>20</td>
            <td>20</td>
        </tr>
        <tr>
            <td>25</td>
            <td>教育部</td>
            <td>教育部</td>
            <td>司局级</td>
            <td>JGC201501</td>
            <td class="item_name">教育部产学合作专业综合改革项目</td>
            <td>郭晓梅</td>
            <td>2015.09</td>
            <td>2016.09</td>
            <td>5.473</td>
            <td>5.473</td>
        </tr>
        <tr>
            <td>26</td>
            <td>朝阳区科委</td>
            <td>朝阳区科委</td>
            <td>司局级</td>
            <td>XC1410</td>
            <td class="item_name">基于大数据的广播电台个性化定制系统</td>
            <td>曹轶臻</td>
            <td>2014.12</td>
            <td>2016.12</td>
            <td>10</td>
            <td>10</td>
        </tr>
        <tr>
            <td>27</td>
            <td>广电总局</td>
            <td>广电总局</td>
            <td>省部级</td>
            <td>2014-41</td>
            <td class="item_name">广播电视监测监管数据挖掘与多维度检索研究</td>
            <td>陈国伟</td>
            <td>2014.7</td>
            <td>2016.1</td>
            <td>10</td>
            <td>10</td>
        </tr>
        <tr>
            <td>28</td>
            <td>北京市</td>
            <td>北京市自然科学基金项目</td>
            <td>省部级</td>
            <td>4112052</td>
            <td class="item_name">面向三网融合的高效CAS匿名认证与授权访问协议研究</td>
            <td>姜正涛</td>
            <td>2011.11</td>
            <td>2013.12</td>
            <td>11.0</td>
            <td>11.0</td>
        </tr>

    </table>
</div>
</body>
</html>