<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"href="{{ url_for('static',filename='css/recruitepartstyle.css') }}" >
    <title>Title</title>
</head>
<body>
<div>
    <ul class="all">
        <li><a class="card" href="http://yz.cuc.edu.cn/news/2015-9-25/2015925104130.html" target="_blank">2016年攻读硕士学位研究生招生目录</a></li>
        <li><a class="card" href="http://yz.cuc.edu.cn/news/2015-9-25/2015925105337.html" target="_blank">2016年攻读硕士学位研究生招生简章</a></li>
        <li><a class="card" href="http://yz.cuc.edu.cn/news/2016-3-20/2016320130204.html" target="_blank">2016年攻读硕士学位研究生进入复试基本分数要求</a></li>
        <li><a class="card" href="http://yz.cuc.edu.cn/class/class_2_1.html" target="_blank">2016年攻读硕士学位研究生拟录取结果</a></li>
    </ul>
</div>
</body>
</html>