{% extends "main.html" %}


{% block head %}
    {{ super() }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>人物关系图谱</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <style type="text/css">
        col-md-4 {height: 370px;}
    </style>
{% endblock head %}


{% block maintitle %}
    {{ super() }}
{% endblock maintitle %}

{% block titletext %}
    影视剧列表
{% endblock titletext %}



<!-- 内容区 start -->
{% block content %}
<div class="img-wrapper" style="height: 100%; text-align: center; background: #b1ddf8; display:none;">
<img class="currentImg" id="currentImg" height="100%" src="{{ url_for('static',filename='img/main_anim.gif') }}">
</div>

<div class="row">
    {% for prj in all_projects %}
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">
                        <div class="product-imitation" style="padding:0;">
                            <img src="{{ url_for('static',filename='img/default.jpg') }}" class="img-responsive">
                        </div>
                        <div class="product-desc">
                            <div class="pull-right dropdown">
                                <button data-toggle="dropdown" class="dropdown-toggle btn-white" aria-expanded="false">
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu m-t-xs">
                                    <li>
                                        <a onclick="readyDeleteProject({{ prj['pid'] }})"  data-toggle="modal" data-target="#myModalDelete" class="btn btn-warning text-center">
                                            <i class="fa fa-trash"></i> <span style="font-size: 16px; font-weight: bold">删 除</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <span class="product-price">
                                {{ prj['p']['prj_id'] }}
                            </span>
                            <small class="text-gray">Project</small>
                            <a href="/{{ prj['p']['prj_id'] }}" class="product-name "> {{ prj['p']['name'] }}</a>

                            <!--<div class="small m-t-xs">-->
                                <!--{{ prj['pid'] }}-->
                            <!--</div>-->
                            <div class="row text-gray">
                                <div class="col-lg-6">
                                    <div class="row vertical-align">
                                        <div class="col-xs-12">
                                            <i class="fa fa-user fa-1x"></i>
                                            <span class="font-bold">{{ prj['nodes_count'] }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row vertical-align">
                                        <div class="col-xs-12">
                                            <i class="fa fa-chain-broken fa-1x"></i>
                                            <span class="font-bold">{{ prj['links_count'] }}</span>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="m-t text-righ">
                                <a href="/{{ prj['p']['prj_id'] }}" class="btn btn-outline btn-primary"> 点击进入 </i> </a>
                            </div>
                        </div>
                </div>
            </div>
        </div>

    {% endfor %}


    <div class="col-md-3">
        <div class="ibox">
            <div class="ibox-content product-box">
                <a data-toggle="modal" data-target="#myModal">
                    <div class="product-imitation" style="font-size: 80px">
                        <span id="prj-plus"> + </span>
                        <div id="prj-loading" class="sk-spinner sk-spinner-cube-grid" style="display:none;">
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                        </div>
                    </div>

                </a>
            </div>
        </div>
    </div>


    <!-- Modal模态对话框（创建Project） -->
    <div class="modal inmodal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
        <div class="modal-content">
                <a class="modal-header list-group-item active" style="margin: 12px;">
                    <i class="fa fa-film modal-icon ibox" style="color:#fff;"></i>
                    <h4 class="modal-title">创 建</h4>
                    <small class="list-group-item-text">你可以添加一部全新的人物图谱</small>
                </a>
                <div class="modal-body">
                    <div class="form-group has-warning">
                        <label class="control-label">请输入影视剧名称</label>
                        <input id="prj_value" type="text" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">取 消</button>
                    <button onclick="doCreateProject()" type="button" class="btn btn-primary" data-dismiss="modal">创 建</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal模态对话框（创建Project） -->
    <div class="modal inmodal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
        <div class="modal-content">
                <a class="modal-header list-group-item active" style="margin: 12px; background: #ed5565; border: 0;">
                    <i class="fa fa-warning modal-icon ibox" style="color:#fff;"></i>
                    <h4 class="modal-title">删 除</h4>
                    <small class="list-group-item-text">该操作将会抹除该剧的所有数据</small>
                </a>
                <div class="modal-body">
                    <div class="form-group has-warning">
                        <div class="alert alert-danger alert-dismissable">
                            删除影视剧后图谱数据将永久删除，无法恢复！
                        </div>
                        <h3><strong>你确定删除这部剧的所有数据吗?</strong></h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">取 消</button>
                    <button onclick="doDeleteProject()" type="button" class="btn btn-danger" data-dismiss="modal">删 除</button>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock content %}
<!-- 内容区 end -->



{% block script %}
    {{ super() }}
    <script type="text/javascript">
        //创建一部影视剧
        function doCreateProject(){
            value = $('input[id=prj_value]').val().trim();
            if(value == ''){
                alert("请填写影视剧名称");
                return;
            }
            $('span[id=prj-plus]').hide();
            $('div[id=prj-loading]').show();

            $.post("/", {
                action: 'create',
                prjname: value
            }, function(data){
            }).done(function(data) {
                 location.reload(true);
            }).fail(function(data, textStatus, xhr) {
                 alert("error", data.status + ", " + xhr);
            });
        }

        var prj_id = -1;
        function readyDeleteProject(prjId){
            prj_id = prjId;
        }

        //删除一个影视剧
        function doDeleteProject(){
            if(prj_id <= 0){
                return;
            }
            $.post("/", {
                action: 'delete',
                prj_id: prj_id
            }, function(data){
            }).done(function(data) {
                 location.reload(true);
            }).fail(function(data, textStatus, xhr) {
                 alert("error", data.status + ", " + xhr);
            });
            prj_id = -1;
        }
    </script>
{% endblock script %}