<head>
    <meta charset="UTF-8">
</head>

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear"> <h3 class="block m-t-xs"> <strong class="font-bold">人物关系图谱</strong>
                         </h3> <span class="text-muted text-xs block">编辑、预览、分析 <b class="caret"></b></span> </span> </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="contacts.html">Contacts</a></li>
                        <li><a href="mailbox.html">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a href="login.html">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    图谱
                </div>
            </li>



            <li class="">
                <a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">Mailbox </span><span class="label label-warning pull-right">16/24</span></a>
                <ul class="nav nav-second-level collapse" style="height: 0px;">
                    <li><a href="mailbox.html">Inbox</a></li>
                    <li><a href="mail_detail.html">Email view</a></li>
                </ul>
            </li>




            <li class="">
                <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">分析</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" style="height: 0px;">

                    <li><a href="500.html">500 Page</a></li>
                    <li class="active"><a href="empty_page.html">Empty page</a></li>
                </ul>
            </li>

            <li class="">
                <a href="\editor"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">人物编辑</span></a>
            </li>

            <li class="">
                <a href="\analysis\poeplelist"><i class="fa fa-list-ul"></i> <span class="nav-label">人物列表</span></a>
            </li>

        </ul>

    </div>
</nav>