<head>
    <meta charset="UTF-8">
</head>

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear"> <h3 class="block m-t-xs"> <strong class="font-bold">人物关系图谱{{ projectId }}</strong>
                         </h3> <span class="text-muted text-xs block">编辑、预览、分析 <b class="caret"></b></span> </span> </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        {% for prj in all_projects %}
                            <li><a href="/{{ prj['p']['prj_id'] }}">{{ prj['p']['name'] }}</a></li>
                            {% if not loop.last %}
                                <li class="divider"></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="logo-element">
                    图谱
                </div>
            </li>



            <li id="main">
                <a href="/"><i class="fa fa-home"></i> <span class="nav-label">首页</span></a>
            </li>

            {% if(projectId) %}
            <li id="demoforce">
                <a href="/{{projectId}}/analysis/demo_force"><i class="fa fa-connectdevelop"></i> <span class="nav-label">{{projectId}} demo_force</span></a>
            </li>

            <li id="demoimage">
                <a href="/{{projectId}}/analysis/demo_image"><i class="fa fa-picture-o"></i> <span class="nav-label">{{projectId}} demo_image</span></a>
            </li>


            <li id="editor">
                <a href="/{{projectId}}/editor"><i class="fa fa-pencil-square-o"></i> <span class="nav-label">{{projectId}} 人物编辑</span></a>
            </li>

            <li id="peoplelist">
                <a href="/{{projectId}}/analysis/peoplelist"><i class="fa fa-list-ul"></i> <span class="nav-label">{{projectId}} 人物列表</span></a>
            </li>


            <li id="analyse">
                <a href="#"><i class="fa fa-line-chart"></i> <span class="nav-label">{{projectId}} 分析</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" style="height: 0px;">

                    <li id="degreedistribute">
                        <a href="/{{projectId}}/analysis/degree_distribute"><i class="fa fa-area-chart"></i> <span class="nav-label">度分布</span></a>
                    </li>

                </ul>
            </li>
            {% endif %}

        </ul>

    </div>

    <script>
        $(document).ready(function() {
            $("li").removeClass("active");
            if('{{ navId }}'){
                $('li#{{ navId }}').addClass("active");
            }
            switch('{{ navId }}'){
                case 'degreedistribute':
                    $('li#analyse').addClass("active");
                    break;
            }
        });
    </script>
</nav>