<head>
    <meta charset="UTF-8">
</head>

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear"> <h3 class="block m-t-xs"> <strong class="font-bold">人物关系图谱</strong>
                         </h3> <span class="text-muted text-xs block">编辑、预览、分析 <b class="caret"></b></span> </span> </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="contacts.html">Contacts</a></li>
                        <li><a href="mailbox.html">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a href="login.html">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    图谱
                </div>
            </li>



            <li id="main">
                <a href="/"><i class="fa fa-home"></i> <span class="nav-label">首页</span></a>
            </li>

            <li id="demoforce">
                <a href="/analysis/demo_force"><i class="fa fa-connectdevelop"></i> <span class="nav-label">demo_force</span></a>
            </li>

            <li id="demoimage">
                <a href="/analysis/demo_image"><i class="fa fa-picture-o"></i> <span class="nav-label">demo_image</span></a>
            </li>


            <li class="">
                <a href="#"><i class="fa fa-line-chart"></i> <span class="nav-label">分析</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" style="height: 0px;">

                    <li id="degreedistribute">
                        <a href="/analysis/degree_distribute"><i class="fa fa-area-chart"></i> <span class="nav-label">度分布</span></a>
                    </li>

                    <li><a href="empty_page.html">Empty page</a></li>
                </ul>
            </li>

            <li id="editor">
                <a href="\editor"><i class="fa fa-pencil-square-o"></i> <span class="nav-label">人物编辑</span></a>
            </li>

            <li id="peoplelist">
                <a href="\analysis\peoplelist"><i class="fa fa-list-ul"></i> <span class="nav-label">人物列表</span></a>
            </li>

        </ul>

    </div>

    <script>
        $(document).ready(function() {
            $("li").removeClass("active");
            if('{{ navId }}'){
                $('li#{{ navId }}').addClass("active");
            }
        });
    </script>
</nav>