<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/classonestyle.css') }}">
    <title>Title</title>
</head>
<body>
<div class="cardbox" ;>
    <ul class="all-card" >
        {% if classinfo%}
            {% for class in classinfo %}
                <li class="card">
                    <div class="both">
                     <div class="photo">
                         <a target="test" href="{{ url_for('classes.classes_thirdPage',classesID=class.id) }}">
                     {% if class.classes_imgsrc%}
                     <img src="{{ url_for('static',filename=class.classes_imgsrc)}}" width="250px" height="250px"></image>
                     {% endif %}
                         </a>
                     </div>
                <div class="name"><a target="test" href="{{ url_for('classes.classes_thirdPage',classesID=class.id) }}" class="brief">{{ class.classes_lable }}</a></div>
            </div>
        </li>
             {% endfor %}
        {% endif %}
    </ul>
</div>

</body>
</html>