{% extends "main.html" %}


{% block head %}
    {{ super() }}
    <title>度分布</title>

    <!-- ECharts.js -->
    <script type="text/javascript" src="{{ url_for('static',filename='lib/echarts-all-3.js') }}"></script>
    <!--<script type="text/javascript" src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>-->
    <!--<script src="http://echarts.baidu.com/echarts2/doc/example/theme/macarons.js"></script>-->
    <script src="{{ url_for('static',filename='lib/echarts-theme-macarons.js') }}"></script>
{% endblock head %}


{% block titletext %}
    度分布
{% endblock titletext %}

{% block pagename %}
    度分布
{% endblock pagename %}


{% block content %}
    <!-- ECharts,一个纯Javascript的图表库，提供直观，生动，可交互，可高度个性化定制的数据可视化图表。 -->
    <!-- 度分布 -->
    <div class="row">
    <div class="col-lg-6"><div class="ibox-content">
        <div id="degreeContainer" style="height: 100%; min-height: 500px;"></div>
    </div></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts图表
        var myChart = echarts.init(document.getElementById('degreeContainer'), "macarons");

        var option = {
            backgroundColor: '#ffffff',
            title : {
                text: '人物度分布',
                subtext: 'Degree Distribution'
            },
            tooltip : {
                trigger: 'axis',
                showDelay : 0,
                formatter : function (params) {
                    params = params[0];
                    if (params.value.length > 1) {
                        return params.value[0] + '度 <br/>'
                           + params.seriesName + ': ' + params.value[1] + '<br/>'
                           + '人数: ' + params.value[2] + "/" + {{ nodes|length }};
                    }
                    else {
                        return params.name + ' <br/>'
                           + params.seriesName + ' : ' + params.value + '';
                    }
                },
                axisPointer:{
                    show: true,
                    type : 'cross',
                    lineStyle: {
                        type : 'dashed',
                        width : 1
                    }
                }
            },
            toolbox: {
                show : true,
                feature : {
                    dataView : {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            xAxis : [
                {
                    type : 'value',
                    boundaryGap: [0,0.1],
                    axisLabel : {
                        formatter: '{value} 度'
                    },
                    axisLine : {
                        lineStyle : {
                            color: '#E3E4E6',
                            width: 1,
                            type: 'solid'
                        }
                    }
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    boundaryGap: [0,0.1],
                    axisLabel : {
                        formatter: '{value} '
                    },
                    axisLine : {
                        lineStyle : {
                            color: '#E3E4E6',
                            width: 1,
                            type: 'solid'
                        }
                    }
                }
            ],
            series : [
                {
                    name:'频率',
                    type:'bar',
                    barWidth: 8,
                    data: [{% for item in matrix %}
                                [{{ item[0] }}, {{ item[1] }}, {{ item[2] }}]
                                {% if not loop.last %},{% endif %}
                            {% endfor %}
                    ],
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '平均值'}
                        ]
                    },
                    itemStyle: {
                        normal: {
                            color: '#357ed5'
                        }
                    }
                }
            ]
        };

        // 为echarts对象加载数据
        myChart.setOption(option);
    </script>






    <!-- 累积度分布 -->
    <div class="col-lg-6"><div class="ibox-content">
        <div id="cumulativeDegree" style="height: 100%; min-height: 500px;"></div>
    </div></div>
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('cumulativeDegree'), "macarons");

        var option = {
            backgroundColor: '#ffffff',
            title : {
                text: '累积度分布图',
                subtext: 'Degree Distribution'
            },
            tooltip : {
                trigger: 'axis',
                showDelay : 0,
                formatter : function (params) {
                    params = params[0];
                    if (params.value.length > 1) {
                        return params.value[0] + '度 <br/>'
                           + params.seriesName + ': '
                           + params.value[1] + '';
                    }
                    else {
                        return params.name + ' <br/>'
                           + params.seriesName + ' : '
                           + params.value + '';
                    }
                },
                axisPointer:{
                    show: true,
                    type : 'cross',
                    lineStyle: {
                        type : 'dashed',
                        width : 1
                    }
                }
            },
            toolbox: {
                show : true,
                feature : {
                    dataView : {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            xAxis : [
                {
                    type : 'value',
                    scale:true,
                    axisLabel : {
                        formatter: '{value} 度'
                    },
                    axisLine : {
                        lineStyle : {
                            color: '#E3E4E6',
                            width: 1,
                            type: 'solid'
                        }
                    }
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    scale:true,
                    boundaryGap: [0,0.1],
                    axisLabel : {
                        formatter: '{value} '
                    },
                    axisLine : {
                        lineStyle : {
                            color: '#E3E4E6',
                            width: 1,
                            type: 'solid'
                        }
                    }
                }
            ],
            series : [
                {
                    name:'频率',
                    type:'line',
                    smooth:true,
                    data: [{% for item in cumulative_degree %}
                                [{{ item[0] }}, {{ item[1] }}]
                                {% if not loop.last %},{% endif %}  <!-- 如果不是循环的最后一个元素 -->
                            {% endfor %}
                    ],
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '平均值'}
                        ]
                    },
                    itemStyle: {
                        normal: {
                            color: ''
                        }
                    },
                    areaStyle: {
                        normal: {
                            type: 'default',
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                offset: 0,
                                color: '#357ed6'
                            }, {
                                offset: 1,
                                color: '#00cdfc'
                            }])
                        }
                    }
                }
            ]
        };

        myChart.setOption(option);
    </script>
    </div>
    <hr>
    <br>





    <!-- 每个人的度 -->
    {% set height = degreedict|length * 30 + 100%}
    {% if height > 1000 %}
        {% set height = degreedict|length * 12 + 100%}
    {% endif %}
    <div id="peopleContainer" style="height: 100%; min-height: {{height}}px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts图表，将echarts这个类实例化
        var myChart2 = echarts.init(document.getElementById('peopleContainer'), "macarons");
        var option2 = {
            title : {
                text: '每个人物的度',
                subtext: 'Degree of People'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['degree']
            },
            toolbox: {
                show : true,
                feature : {
                    dataView : {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            xAxis : [
                {
                    name: "度",
                    type : 'value'
                }
            ],
            yAxis : [
                {
                    name: "名字",
                    type : 'category',
                    data : [{% for key, value in degreedict %}
                                '{{ key|e }}'
                                {% if not loop.last %},{% endif %}
                            {% endfor %}]
                }
            ],
            //series字段,系列列表,每个系列通过 type 决定自己的图表类型，把x.y轴确定的每个数据一一对应画出来
            series : [
                {
                    name:'degree',
                    type:'bar',
                    barWidth: 5,
                    data:[{% for key, value in degreedict %}
                                {{ value|e }}
                                {% if not loop.last %},{% endif %}
                            {% endfor %}
                    ],
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '平均值'}
                        ]
                    },
                    itemStyle: {
                        normal: {
                            color: '#46c36a'
                        }
                    }

                }
            ]
        };
        myChart2.setOption(option2);
    </script>
    <hr>
    <br>




    <!-- 和弦图 -->
    <div id="chordContainer" style="height: 100%; min-height: 700px;"></div>
    <script type="text/javascript" src="{{ url_for('static',filename='lib/echarts2-all.js') }}"></script>
    <script type="text/javascript">
        var myChart3 = echarts.init(document.getElementById('chordContainer'), "macarons");
        option3 = {
            backgroundColor: '#ffffff',
            title : {
                text: '人物关系和弦图',
                x:'left',
                y:'top'
            },
            tooltip : {
                trigger: 'item',
                formatter: function (params) {
                    if (params.indicator2) {    // is edge
{#                        return params.indicator2 + ' ' + params.name + ' ' + params.indicator;#}
                        return params.name + ' <br/>'
                                + "[" + params.value.relation + "],   weight : " + params.value.weight;
                    } else {    // is node
                        return params.name
                    }
                }
            },
            toolbox: {
                show : true,
                feature : {
                    dataView : {show: true, readOnly: false},
                    magicType: {show: true, type: ['force', 'chord']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            series : [
                {
                    type:'chord',
                    sort : 'ascending',
                    sortSub : 'descending',
                    showScale : false,
                    itemStyle : {
                        normal : {
                            label : {
                                rotate : true
                            }
                        }
                    },
                    // 使用 nodes links 表达和弦图
                    nodes: [{% for item in nodes -%}
                                {name:'{{ item.name }}'}{% if not loop.last -%},{%- endif %}
                            {%- endfor %}
                    ],
                    //和弦图每一对节点之间必须是双向边
                    links: [{% for item in links -%}
                                {source:'{{ item.sname }}', target:'{{ item.tname }}', relation:'{{ item.relation }}', weight: {% if(item.weight==None) %}1{% else %}{{item.weight}}{% endif %} },
                                {target:'{{ item.sname }}', source:'{{ item.tname }}', relation:'{{ item.relation }}', weight: {% if(item.weight==None) %}1{% else %}{{item.weight}}{% endif %}} // RibbonType的和弦图每一对节点之间必须是双向边
                                {% if not loop.last -%},{%- endif %}
                            {%- endfor %}
                    ]
                }
            ]
        };
        myChart3.setOption(option3);
    </script>
    <hr>
    <br>


{% endblock content %}

