{% extends "main.html" %}


{% block head %}
    {{ super() }}
    <title>学习neo4j和d3.js</title>
    <link href="/static/css/style.css" rel="stylesheet" />
    <link href="/static/css/d3.css" rel="stylesheet" />

    <script src="/static/lib/jquery-1.11.2.min.js"></script>

    <script id="depot_js" src="/static/lib/d3.v3.min.js"></script>
    <script id="showMode_js" src="/static/js/img_network.js"></script>
{% endblock head %}


{% block titletext %}
    人物网络图(image_network)
{% endblock titletext %}

{% block content %}
    <div id="imgnetwork_content" class="">
    </div>
{% endblock content %}


