{% extends "main.html" %}


{% block head %}
    {{ super() }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>人物列表</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link href="{{ url_for('static',filename='bootstrap/css/plugins/footable/footable.core.css') }}" rel="stylesheet">
{% endblock head %}


{% block maintitle %}
    {{ super() }}
{% endblock maintitle %}
{% block titletext %}
   人物列表
{% endblock titletext %}

{% block pagename %}
    人物列表
{% endblock pagename %}


{% set avatars = ["chanyou", "guixie", "lingsha", "mengli", "suyao", "suyu", "taiqing", "tianhe", "tianqing", "xizhong" ] %}


<!-- 内容区 start -->
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>总共{{ nodes|length }}人</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <table class="footable table table-stripped toggle-arrow-tiny issue-tracker" data-page-size="15">
                        <thead>
                            <tr>
                                <th>头像</th>
                                {# 遍历节点 收集所有属性名字，除了头像、保存状态 #}
                                {% set array = [] %}
                                {% for people in nodes %}
                                    {% for key, value in people.iteritems() if key and key not in array and key != "temp_index" %}
                                        {% if array.append(key|e) %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}

                                {# 把属性展开，制表 #}
                                {% for key in array %}
                                    {% if loop.index <= 5 %}
                                        <th>{{ key|e }}</th>
                                    {% else %}
                                        <th data-hide="all">{{ key|e }}</th>
                                    {% endif %}
                                {% endfor %}

                                <!--<th data-toggle="true">ID</th>-->
                                <th>保存状态</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for people in nodes %}
                                <tr>
                                    <td><span class="client-avatar">
                                        <img alt="image" style="border: 1px solid #e7eaec; background:#ddd;"
                                             {# 有头像就用自己的头像，没有的时候就用社区的头像，没社区的就用默认头像 #}
                                            {% if(people.avatar) %}
                                                src="{{ people.avatar }}">
                                             {# 同一个社区，头像相同。avatars就是一些头像的集合列表 #}
                                            {% elif(people.community) %}
                                                src="{{ url_for('static',filename='img/' + avatars[people.community] + '.png') }}">
                                            {% else %}
                                                src="{{ url_for('static',filename='img/avatar-default.png') }}">
                                            {% endif %} </span>
                                    </td>
                                    {# 把单个人物的具体属性取出来 #}
                                    {% for key in array %}
                                        <td>{{ people[key] }}</td>
                                    {% endfor %}

                                    <td>
                                        <a href="#">
                                            <i class="fa fa-check text-navy"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {# 人物卡片 #}
    <div class="row">
        {% set bgcolors = ["#ed5565",
                            "linear-gradient(90deg,#f84f4c,#ecbbc1)",
                            "linear-gradient(45deg,#00b6ee,#c1d5f5)",
                            "linear-gradient(45deg,#ffba6a,#ff7575)",
                            "linear-gradient(45deg,#62da5b,#46c36a)",
                            "linear-gradient(-45deg,#26a59a,#6fcdc4)",
                            "linear-gradient(-45deg,#ffa31e,#fee0a5)",
                            "linear-gradient(-45deg,#2b56b5,#458ce8)",
                            "linear-gradient(45deg,#1d2338,#4d5c8d)",
                            "linear-gradient(45deg,#bb77bd,#49259e)", "#23c6c8"] %}
        {% for people in nodes %}
            <div class="col-lg-3">
                <div class="widget-head-color-box navy-bg p-lg text-center" style="background: {{bgcolors[people.community]}}">
                    <div class="m-b-md">
                    <h2 class="font-bold no-margins">{{people.name}}</h2>
                        <small>{{people.label}}</small>
                    </div>
                    <img alt="profile" class="img-circle circle-border m-b-md" width="120" height="120"
                    {% if(people.avatar) %}
                        src="{{ people.avatar }}">
                    {% elif(people.community) %}
                        src="{{ url_for('static',filename='img/' + avatars[people.community] + '.png') }}">
                    {% else %}
                        src="{{ url_for('static',filename='img/avatar-default.png') }}">
                    {% endif %}
                    <div>
                        <span>ID：{{people.id}}</span>

                    </div>
                </div>
                <div class="widget-text-box">
                    <p>PageRank: {{people.pagerank}}<br>
                                community: {{people.community}}</p>
                </div>
            </div>
        {% endfor %}

    </div>
    <hr style="height: 1px; background: linear-gradient(to right, #599e47, #306a94, #492860, #c03d32, #d17337);">

{% endblock content %}
<!-- 内容区 end -->



{% block script %}
{#    {{ super() }}#}

    <!-- FooTable -->
    <!-- Mainly scripts -->
    <script src="{{ url_for('static',filename='bootstrap/js/jquery-2.1.1.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap/js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <!-- FooTable -->
    <script src="{{ url_for('static',filename='bootstrap/js/plugins/footable/footable.all.min.js') }}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{{ url_for('static',filename='bootstrap/js/inspinia.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap/js/plugins/pace/pace.min.js') }}"></script>


{#    <script src="{{ url_for('static',filename='bootstrap/js/plugins/footable/footable.all.min.js') }}"></script>#}
    <script>
        $(document).ready(function() {
            $('.footable').footable();
            $('.footable2').footable();
        });
    </script>
{% endblock script %}